
.icon-basket-alt:before { content: '\e7ae'; } /* '' */
.icon-dribbble:before { content: '\f050'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */